# Environments
venv/
env/
.env

# Python
__pycache__/
*.py[cod]
*$py.class

# Logs
*.log

# App specific uploads and results
static/uploads/*
!static/uploads/.gitkeep
static/results/*
!static/results/.gitkeep

# Jupyter Notebook
.ipynb_checkpoints/

# Backups
backup/

# Datasets / Large folders
Training/BRAIN-TUMOR-1/

# System
.DS_Store
Thumbs.db
